 {% load staticfiles %}
 {% load avatar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UserProfile | Barati</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
          
    
</head><!--/head-->

<body>{% include 'customers/header.html'%}
  
  {% avatar user 65 class="img-circle img-responsive" id="user_avatar" %}

<a href="{% url 'avatar_change' %}">Change your avatar</a>
<br>
 <form class="form-horizontal" role="form" action = "/account/profile"  method="POST">
 	{% csrf_token %}
 	{% for field in form %}
  <div class="form-group">
    <label class="control-label col-sm-2" >{{field.label}}</label>
    <div class="col-sm-3">
      {{field}}
    </div>
  </div>
  {% endfor %}
  {% for field1 in form1 %}
  <div class="form-group">
    <label class="control-label col-sm-2" >{{field1.label}}</label>
    <div class="col-sm-5">
      {{field1}}
    </div>
  </div>
  {% endfor %}
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
</body>
</html>



