{% load staticfiles %}
	{% if beauticians %}
	{% for beautician in beauticians%}
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
					<div class="productinfo text-center">
						<a style = "text-decoration:none;"href = "/beautician_details/{{beautician.id}}">

						<img style="width:200px;height:170px;" src="{% static '' %}{{beautician.ref_id|get_pic_path}}" alt="{{beautician.short_description}}" title="{{beautician.short_description}}"/>
						{% with beautician.ref_id|get_beautician as beautician%}
							<h2>{{beautician.0}} ({{beautician.1}})</h2>
						{% endwith %}
						<p>{{beautician.short_description}}</p>
						<p>Rs {{beautician.actual_price}}</p>
						<!--<p>Product ID {{beautician.ref_id}}</p>-->
						<!--<button type="button" class="btn btn-default cart">
							Get the feel
						</button>-->
						</a>
						<form action="/add_to_cart/{{beautician.ref_id}}" class="add_to_cart" id="add_to_cart{{forloop.counter}}" method="POST"><!--Add to cart form BEGIN-->
							{% csrf_token %}
							<input type="hidden" name="product_type" value="beauticians" />
							<input type="hidden" name="price" value="{{beautician.actual_price}}" />
							<!--
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" style="width:15px;" href="#" > + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value=1 autocomplete="off" size="2" id="{{beautician.ref_id}}">
								<a class="cart_quantity_down"  href="#"> - </a>
							</div>
							-->
							{% if request.user.username %}
								<a href="#" onclick="add_to_cart({{forloop.counter}})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i><button type="submit" style="border:none;background:transparent;" >  Add to cart</button></a>
							{% else %}
								<a style = "" href = "#login"  class="btn btn-default add-to-cart">
								<button type="button" style="border:none;background:transparent;">
									<i class="fa fa-shopping-cart"></i>
									Add to cart
								</button>
								</a>
							{% endif %}
						</form> <!--Add to cart form END-->
					</div>
			</div>
			<div class="choose">
				<form id="add_to_wishlist{{forloop.counter}}" class="add_to_wishlist" name="add_to_wishlist{{forloop.counter}}" method="post" action="/add_to_wishlist/">
					{% csrf_token %}
					<input type="hidden" name="ref_id" value="{{beautician.ref_id}}" />
					<ul class="nav nav-pills nav-justified">
						{% if request.user.username %}
								{% if beautician.ref_id in wishlist_list %} <!--This wishlist is user specific-->
									<li><a href="/wishlist"><i class="fa fa-plus-square"></i>In Wishlist</a></li>
								{% else %}
									<li><a href="#" onclick="add_to_wishlist({{forloop.counter}})"><i class="fa fa-plus-square"></i><button type="submit" style="border:none;background:transparent;" > Add to wishlist</button></a></li>
								{% endif %}
							{% else %}
								<li><a href="#login" onclick=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							{% endif %}
					</ul>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}						
	{% endif %}
{% include 'customers/login_popup.html' %}

<script type="text/javascript">
   $(function () {
    $('.cart_quantity_up').on('click',function(){
        var $qty=$(this).closest('div').find('.cart_quantity_input');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal)) {
            $qty.val(currentVal + 1);
        }
    });
    $('.cart_quantity_down').on('click',function(){
        var $qty=$(this).closest('div').find('.cart_quantity_input');
        var currentVal = parseInt($qty.val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $qty.val(currentVal - 1);
        }
    });
});
</script>