{% load staticfiles %}
<tr>
<td class="cart_product">
	<a href="/card_details/{{product.id}}"><img width = "100px" height = "100px" src="{% static '' %}{{product.ref_id|get_pic_path}}" alt="{% static '' %}{{ product.ref_id|get_pic_path }}"></a>
</td>
<td class="cart_description">
	<h4><a href="/card_details/{{product.id}}">{{product.name}}</a></h4>
	<p>Product ID: {{product.ref_id}}</p>
	<p>{{product.short_description}}</p>
	<p>Printing price : Rs {{product.printing_price}} per card</p>
</td>
<td class="cart_price">
	<label>{{product.actual_price|add_tax:tax_venue}}</label>
</td>
<td class="cart_quantity">
	<div class="cart_quantity_button">
		<label class="cart_quantity_input" type="text" name="quantity" id = "{{product.ref_id}}" value = "{{ product.ref_id|get_quantity:request }}" autocomplete="off" size="2">{{ product.ref_id|get_quantity:request }}</label>
	</div>
</td>
<td class="cart_total">
	<p class="cart_total_price">{{ product.ref_id|get_total_price:request }}
	{% if printing_preference_dict|get_item:product.ref_id %}
	<br>
	<label style="font-size:10px;color:#434343">(Includes printing charges)</label>
	{% endif %}
	</p>

</td>
<form action="/remove_from_cart/{{product.ref_id}}" id="remove_from_cart{{product.ref_id}}" method="post">	
{% csrf_token %}
<td class="cart_delete">
	<a class="cart_quantity_delete" href="#" onclick="remove_from_cart('{{product.ref_id}}')"><i class="fa fa-times"></i>
		<button type="submit" style="border:none;background:transparent;" > Remove</button>
	</a>
</td>
</form>
</tr>