{% load staticfiles %}
	{% if cards %}
	{% for card in cards%}
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
					<div class="productinfo text-center">
						<a style = "text-decoration:none;"href = "/card_details/{{card.id}}">

						<img src="{% static '' %}images/cards/card{{card.id}}.jpg" alt="{{card.short_description}}" title="{{card.short_description}}"/>
						<h2 >{{card.price}} Rs Per Card</h2>
						<p>{{card.short_description}}</p>
						<p>Product ID {{card.ref_id}}</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
						</a>
					</div>
			</div>
			<div class="choose">
				<ul class="nav nav-pills nav-justified">
					<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
					<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}						
	{% endif %}
					