{% load staticfiles %}
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Categories</h2>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/venues">
                        <img style="height:170px;" src="{% static 'images/home/venue1.png' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >VENUES</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
     <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card/1">
                        <img style="height:170px;" src="{% static 'images/home/card2.jpg' %}" alt="" title=""/>
                        <h2 >CARDS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/beautician2.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >BEAUTICIANS</h2>
                    </div>
            </div>
        </div>
    </div>
     <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/music.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >MUSIC</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/gifts.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >GIFTS</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/photo.jpeg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >PHOTOS/VIDEOS</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/bakery.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >BAKERY</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/ghodi.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >GHODI/BAGGHI</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/dhol.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >BANDS</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/mehendi.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >MEHENDI</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/fireworks.jpg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >FIREWORKS</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "/card_details/">
                        <img style="width:300px;height:170px;" src="{% static 'images/home/tent.jpeg' %}" alt="{{card.short_description}}" title="{{card.short_description}}"/>
                        <h2 >TENT HOUSES</h2>
                    </div>
            </div>
        </div>
    </div>
    </div>