{% load staticfiles %}
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Categories</h2>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "/venues/1">
                        <img src="{% static 'images/home/venue1.png' %}" alt="" title=""/>
                        <h2 >VENUES</h2>
                    </div>
            </div>
        </div>
    </div>
     <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "/card/1">
                        <img src="{% static 'images/home/card2.jpg' %}" alt="" title=""/>
                        <h2 >CARDS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "/beauticians/1">
                        <img src="{% static 'images/home/beautician-female.jpg' %}" alt="" title=""/>
                        <h2 >BEAUTICIANS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
     <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "#">
                        <img src="{% static 'images/home/music.jpg' %}" alt="" title=""/>
                        <h2 >MUSIC</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "#">
                        <img src="{% static 'images/home/mehendi.jpg' %}" alt="" title=""/>
                        <h2 >MEHENDI</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "#">
                        <img src="{% static 'images/home/photo.jpeg' %}" alt="" title=""/>
                        <h2 >PHOTOS/VIDEOS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "#">
                        <img src="{% static 'images/home/bakery.jpg' %}" alt="" title=""/>
                        <h2 >BAKERY</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/ghodi.jpg' %}" alt="" title=""/>
                        <h2 >GHODI/BAGGHI</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/dhol.jpg' %}" alt="" title=""/>
                        <h2 >BANDS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/gifts.jpg' %}" alt="" title=""/>
                        <h2 >GIFTS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/fireworks.jpg' %}" alt="" title=""/>
                        <h2 >FIREWORKS</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/tent.jpeg' %}" alt="" title=""/>
                        <h2 >TENT HOUSES</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;"href = "#">
                        <img src="{% static 'images/home/tent.jpeg' %}" alt="" title=""/>
                        <h2 >JEWELLERY</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <a style = "text-decoration:none;" href = "#">
                        <img src="{% static 'images/home/tent.jpeg' %}" alt="" title=""/>
                        <h2 >DRESSES</h2>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    </div>