{% load staticfiles %}
	{% if request.user.username %}
	<!--Bottom budget section START-->
	<div class="widget-content">
		<div class="widget-content-header text-center">
			Budget Management Tool
		</div>
		{% for b in budget %}
			<div class="text-center">
			<b>Min Barati Budget: </b>Rs {{b.min_master}}
			</div>
			<div class="text-center">
			<b>Max Barati Budget: </b>Rs {{b.max_master}}
			</div>
			<div class="text-center">
			{% if grand_total %}
				<b>Current Cart Total: </b>Rs {{grand_total}}
			{% else %}
				<b>Your cart is probably empty</b>
			{% endif %}
			</div>
			<div class="text-center">
			<input type="checkbox" /> <b>Include previous orders/purchases </b>
			</div>
		{% endfor %}
		<br>
		<div>
		{% if budget_balance.1 == 0 %}
			<green>You are well within budget. <br> You can spend Rs {{budget_balance.0}} more.</green>
		{% elif  budget_balance.1 == 1 %}
			<red>You have exceeded your budget by Rs {{budget_balance.0}}!</red>
			<br>
			<green>It's OK! Marriage is for once but memories are for LIFETIME!</green>
		{% endif %}	
		{% if not budget_balance %}
			Looks like you haven't locked your preferences.<br>
			Take full advantage of the FREE Budget Management Tool
		{% endif %}
		</div>
		<br>
		<div>
			<a href="/budget"> Lock/Update your budget preferences.</a>
		</div>
	</div>
	<div class="widget-min text-center btn-minimize">
		<span class="" id="">Budget Management Tool</span>
	</div>
	<!--Bottom budget section END-->
	{% endif %}
<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2>
							<a href="/"><img src="{% static 'images/home/logo.png' %}" width = "200" height = "" alt="barati logo" /></a>
							</h2>
							<p>Aapki shaadi, humari zimmedari.</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{% static 'images/home/iframe1.png' %}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{% static 'images/home/iframe2.png' %}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{% static 'images/home/iframe3.png' %}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="{% static 'images/home/iframe4.png' %}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="{% static 'images/home/map.png' %}" alt="" />
							<p  style="">Chhatarpur, New Delhi, India</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="/contact_us">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quick Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Cards</a></li>
								<li><a href="#">Venues</a></li>
								<li><a href="#">Music</a></li>
								<li><a href="#">Tent Houses</a></li>
								<li><a href="#">Beauticians</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Barati</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>Stay Connected</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
								<p>Not just another ecommerce website.<br>We use cutting edge Python-Django technology, also used by the likes of Google, Facebook etc, for providing the best experience.</p>
							</form>
							<a target="_blank" href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +011 123 45 67 </a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@barati.in</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
				
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 barati.in All rights reserved.</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->