{% load staticfiles %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link href="{% static 'css/drop_down_menu_default.css' %}" rel="stylesheet"/>
<link href="{% static 'css/drop_down_menu_component.css' %}" rel="stylesheet"/>
<link href="{% static 'css/barati_base.css' %}" rel="stylesheet"/>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/jsDatePick_ltr.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jsDatePick.min.1.3.js' %}"></script>

<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" /><!--Autcomplete-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script><!--Autcomplete-->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script><!--Autcomplete-->

<script type="text/javascript">
	window.onload = function(){
		new JsDatePick({
			useMode:2,
			target:"inputField",
			dateFormat:"%d-%M-%Y",
			cellColorScheme:"orange"
			/*selectedDate:{				This is an example of what the full configuration offers.
				day:5,						For full documentation about these settings please see the full version of the code.
				month:9,
				year:2006
			},
			yearsRange:[1978,2020],
			limitToToday:false,
			cellColorScheme:"beige",
			dateFormat:"%m-%d-%Y",
			imgPath:"img/",
			weekStartDay:1*/
		});
		/*Bottom budget section*/
		$(".btn-minimize").click(function(){
		    $(this).toggleClass('btn-plus');
		    $(".widget-content").slideToggle();
	  	});	
	  	$(".widget-content-header").click(function(){
		    $(this).toggleClass('btn-plus');
		    $(".widget-content").slideToggle();
	  	});
	};
</script>
<header id="header"><!--header-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="{% static 'images/home/logo.png' %}" width = "200" height = "" alt="barati logo" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#" style="font-weight:bold;">Call Us Now for HELP! &nbsp;&nbsp;&nbsp;+011 123 45 67</a></li>
								<li><a href="/wishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<!--<li><a href=""><i class="fa fa-star"></i> FEEL requests</a></li>-->
								<li><a href="/my_orders"><i class="fa fa-crosshairs"></i> My Orders</a></li>
								<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								{% if request.user.username %}
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li class="dropdown" style="width:150px;"><a href="#">&nbsp;&nbsp;&nbsp;Welcome {{request.user.first_name}}!<i class="fa fa-angle-down"></i></a>
	                                    <ul role="menu" class="sub-menu" style="width:150px;">
                                    	<li><a href="#" id="user_dropdown"><i class="fa fa-user"></i> My Account</a></li>
                                    	<li><a href="#" id="user_dropdown"><i class="fa fa-crosshairs"></i> My Reviews</a></li>
                                    	<li><a href="/budget" id="user_dropdown"><i class="fa fa-crosshairs"></i> My Budget</a></li>
                                    	<li><a href="#" id="user_dropdown"><i class="fa fa-crosshairs"></i> Pending payments</a></li>
                                    	<li><a href="/auth/logout" id="user_dropdown"><i class="fa fa-crosshairs"></i> Logout</a></li>
	                                    </ul>
	                                </li>
                                </ul> 
                                {% else %}
                                	<li><a href="/auth/login"><i class="fa fa-lock"></i> Login</a></li>
                                {% endif %}

							</ul>
						</div>
					</div>
					<div class="main_filters">
								<br/><br/>
								<form id="main_preferences" name="main_preferences" action="/save_main_preferences/" method="post" > 
									{% csrf_token %}
									<span style="margin-left:-100px">Lock your preferences---></span>
									<input type="text" class="date_picker searchTerm" title="Date of Marriage/Function" id="inputField" name="main_preference_date" autocomplete="off"
									{% if main_preferences %}
										{% with main_preferences|first as main_preferences %}
											{% if main_preferences.date %}
												value="{{main_preferences.date|change_date_format_for_template}}"
											{% else %}	
												placeholder="Date"
											{% endif %}
										{% endwith %}
									{% else %}
										placeholder="Date"
									{% endif %}
									placeholder = "Date" />
									<input type="text" class="location searchTerm" name="main_preference_location" id="main_preference_location" value="Delhi" 
									{% if main_preferences %}
										{% with main_preferences|first as main_preferences %} 
											{% if main_preferences.location %}
												value="{{main_preferences.location}}"
											{% else %}
												placeholder="Location"
											{% endif %}	
										{% endwith %}
									{% else %}
										placeholder="Location"
									{% endif %}
									/>
									<script id="jsbin-javascript1" src="{% static 'js/autocomplete_location.js' %}"></script><!--Automcomplete-->
										<input type="text" class="sublocation searchTerm" name="main_preference_sublocation" id="main_preference_sublocation" 
										{% if main_preferences %}
											{% with main_preferences|first as main_preferences %}
												{% if main_preferences.sublocation %}
													value="{{main_preferences.sublocation}}"
												{% else %}
													placeholder="Locality"
												{% endif %}	
											{% endwith %}
										{% else %}
											placeholder="Locality"
										{% endif %}
										/>
										
									<script id="jsbin-javascript2" src="{% static 'js/autocomplete_sublocation.js' %}"></script><!--Automcomplete-->
									<input type="text" class="search searchTerm" id="search_everything" name="search_everything" placeholder="Search your dream products" /> 
									<script id="jsbin-javascript3" src="{% static 'js/autocomplete_everything.js' %}"></script><!--Automcomplete-->
									<button type="submit" style="margin-top:-2px;height:30px;visibility:hidden;" id="go_btn" class=" btn btn-default get">GO</button>
									</form>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
		

		<div class="container_drop_menu">
			<div class="main">
				<nav class="" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<li>
								<a href="#"><image src="{% static 'images/home/tent.png' %}" width="30px" height="30px" />Venues</a>
								<ul class="cbp-hssubmenu">
                                    	{% if venue_types %}
                                    	{% for type in venue_types %}
                                        <li><a href="/venue/{{type.id}}"><img src="images/1.png" alt="img01"/><span>{{type.name}}</span></a></li>
                                        {% endfor %}
                                        {% endif %}
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/cards.png' %}" width="30px" height="30px" />&nbsp;Cards</a>
								<ul class="cbp-hssubmenu">
									{% if card_types %}
                                	{% for type in card_types %}
                                	<li><a href="/card/{{type.id}}"><img src="{% static 'images/home/card1.jpg' %}" alt="{{type.name}}"/><span>{{type.name}}</span></a></li>
                                    {% endfor %}
                                    {% endif %}
								</ul>
							</li>

							<li>
								<a href="#"><image src="{% static 'images/home/beauty.png' %}" width="30px" height="30px" />Beauticians</a>
								<ul class="cbp-hssubmenu">
									{% if beautician_types %}
                                	{% for type in beautician_types %}
									<li><a href="/beauticians/{{type.id}}?for=male"><img src="{% static 'images/home/beautician-men.jpg' %}" style="max-height:120px" alt="img01"/><span>{{type.name}} (Groom)</span></a></li> 
									<li><a href="/beauticians/{{type.id}}?for=female"><img src="{% static 'images/home/beautician-female.jpg' %}" alt="img01"/><span>{{type.name}} (Bride)</span></a></li> 
									{% endfor %}
									{% endif %}
									<li><a href="/beauticians/packages?for=male"><img src="{% static 'images/home/beautician-men.jpg' %}" style="max-height:120px" alt="img01"/><span>Packages for HIM</span></a></li> 
									<li><a href="/beauticians/packages?for=female"><img src="{% static 'images/home/beautician-female.jpg' %}" alt="img01"/><span>Packages for HER</span></a></li> 	
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/music.png' %}" width="30px" height="30px" />Music</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/gift.png' %}" width="30px" height="30px" />Gifts</a>
								<ul class="cbp-hssubmenu">
									<li><a href="/shop"><a href="#"><img src="images/1.png" alt="img01"/><span>Traditional</span></a></li>
									<li><a href="/product_details"><a href="#"><img src="images/1.png" alt="img01"/><span>Personalized</span></a></li> 
									<li><a href="/checkout"><a href="#"><img src="images/1.png" alt="img01"/><span>For Bride</span></a></li> 
									<li><a href="/cart"><a href="#"><img src="images/1.png" alt="img01"/><span>For Groom</span></a></li> 
									<li><a href="/auth/login"><a href="#"><img src="images/1.png" alt="img01"/><span>For Guests</span></a></li> 
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/photos.png' %}" width="30px" height="30px" />Photos/Videos</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="{% static 'images/photos_videos/candid_dropdown_menu.jpg' %}" alt="img01"/><span>Candid</span></a></li>
									<li><a href="/shop"><img src="{% static 'images/photos_videos/taditional_dropdown_menu.jpg' %}" alt="img01"/><span>Traditional</span></a></li>
									<li><a href="/checkout"><img src="{% static 'images/photos_videos/taditional_dropdown_menu.jpg' %}" alt="img01"/><span>Traditional + Candid</span></a></li> 
									<li><a href="#"><img src="{% static 'images/photos_videos/prewedding_dropdown_menu.jpg' %}"/><span>Pre Wedding Photography</span></a></li>
									<li><a href="#"><img src="{% static 'images/photos_videos/prewedding_dropdown_menu.jpg' %}"/><span>Pre Wedding Videography</span></a></li>
									<li><a href="#"><img src="{% static 'images/photos_videos/prewedding_dropdown_menu.jpg' %}"/><span>I need everything</span></a></li>
									<li><a href="#"><img src="{% static 'images/photos_videos/prewedding_dropdown_menu.jpg' %}"/><span>Packages</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/bakery.png' %}" width="30px" height="30px" />Bakery</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/ghodi.png' %}" width="30px" height="30px" />Ghodi/Bagghi</a>
								<ul class="cbp-hssubmenu cbp-hssub-rows">
									<li><a href="#"><img src="images/7.png" alt="img07"/><span>Lovely Slurp</span></a></li>
									<li><a href="#"><img src="images/8.png" alt="img08"/><span>Lemony Grappa</span></a></li>
									<li><a href="#"><img src="images/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
									<li><a href="#"><img src="images/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/band.png' %}" width="30px" height="30px" />Bands</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
								</ul>
							</li>

							<li>
								<a href="#"><image src="{% static 'images/home/mehendi.png' %}" width="30px" height="30px" />Mehendi</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
									<li><a href="#"><img src="images/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
								</ul>
							</li>

							<li>
								<a href="#"><image src="{% static 'images/home/firework.png' %}" width="30px" height="30px" />Fireworks</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><image src="{% static 'images/home/tent.png' %}" width="30px" height="30px" />Tent Houses</a>
								<ul class="cbp-hssubmenu">
									<li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
									<li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
									<li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
									<li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
									<li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
									<li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
								</ul>
							</li>
							
						</ul>
					</div>
					
				</nav>
			</div>
		</div>

	</header><!--/header-->
	<script src="{% static 'js/cbpHorizontalSlideOutMenu.min.js' %}"></script>
<script>
	var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
</script>
<script type="text/javascript">
	$(document).ready(function() {
	/*	
	if (window.location.hash === '#focus-location') 
	{
        $( "#main_preference_sublocation" ).focus();//Focus the location input box
    }*/
	$('#main_preferences').submit(function() { // catch the form's submit event
      $.ajax({
          url : this.action, 
          type : "POST",
          dataType: "json",
          data: $(this).serialize(), // get the form data
          context : this,
          success : function(json) {
            if (json == "success_main_preferences_saved")
            {
              window.location = location.pathname;// + "?blabla#focus-location"; // redirect back to the calling page
              /*document.cookie = createFocusCookie("focus", "location");*/
            }
            },
          error : function(xhr,errmsg,err) {
            remove_spinner(); 
            alert(xhr.status + ": " + xhr.responseText);
            }
      });
      return false;
  });
	/*To avoid form submission on enter press*/
  $('form input').on('keypress', function(e) {
    return e.which !== 13;
	});

	/*$('#search').submit(function() { // catch the form's submit event
      $.ajax({
          url : this.action, 
          type : "GET",
          dataType: "json",
          data: $(this).serialize(), // get the form data
          context : this,
          success : function(json) {
            },
          error : function(xhr,errmsg,err) {
            remove_spinner(); 
            alert(xhr.status + ": " + xhr.responseText);
            }
      });
      return false;
    });*/
});
</script>