{% load staticfiles %}
<div class="col-sm-3" style="background:#fff">
<div class="left-sidebar">
						
					<div class="">
						<div class="single-widget">
							<h2>Stay Connected</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>	
					<div class="shipping text-center"><!--shipping-->
						<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
					</div><!--/shipping-->
					
					</div>
					</div>