{% load staticfiles %}
<script type="text/javascript">
</script>
<div class="col-sm-3" style="background:#fff">
<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% if subcategories %}
							{% for subcategory in subcategories %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title" id="sub_category_{{subcategory.id}}"><a href="/{{category}}/{{subcategory.id}}">{{subcategory}}</a></h4>
									</div>
								</div>
							{% endfor %}
							{% endif %}
						</div><!--/category-products-->
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading" >
								<h4 class="panel-title">
								<form name="confidence_check_form" id="confidence_check_form">
									<a><input type="checkbox" name="confidence_check_filter" id="confidence_check_filter" class="confidence_check_filter" value="confidence_check_filter">&nbsp;&nbsp;Add Barati Confidence</input></a>
								</form>
								</h4>
								</div>
							</div>
						</div>
						<!--Gender Selector for beauticians | START-->
						{% if beautician_details or card_details %}
						{% else %}
							{% if category == 'beauticians' %}
								<div class="panel-group category-products" id="accordian">
								<h2>Gender</h2>
								<div class="panel panel-default">
									<div class="panel-heading" >
									<h4 class="panel-title">
									<a><input type="radio" name="gender_filter" id="gender_male" class="gender_filter" value="male">&nbsp;&nbsp;MALE</input></a>
									<a><input type="radio" name="gender_filter" id="gender_female" class="gender_filter" value="female">&nbsp;&nbsp;FEMALE</input></a>
									<a><input type="radio" name="gender_filter" id="gender_all" class="gender_filter" value="all">&nbsp;&nbsp;ALL</input></a>
									</h4>
									</div>
								</div>
								</div>
								
								<div class="panel-group category-products" id="accordian">
								
								<div class="panel panel-default">
									<div class="panel-heading" >
									<h4 class="panel-title">
									<form name="home_visit_form" id="home_visit_form">
										<a><input type="checkbox" name="home_visit_filter" id="home_visit_filter" class="home_visit_filter" value="home_visit_available">&nbsp;&nbsp;Need Home Visit</input></a>
									</form>
									</h4>
									</div>
								</div>
								</div>

							{% endif %}
						{% endif %}
						<!--Gender Selector for beauticians | END-->

						{% if beautician_details or card_details %}
						{% else %}
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <script type="text/javascript">
								 </script>
								 <form name="filter_range" id="filter_range" method="post">
								 	{% csrf_token %}
								 	<input type="text" class="span2" value="" data-slider-min="{{filter_values.0}}" data-slider-max="{{filter_values.1}}" data-slider-step="5" 
								 	{% if selected_filter_values %}
								 		data-slider-value="[{{selected_filter_values.0}},{{selected_filter_values.1}}]"
								 	{% else %}
								 		data-slider-value="[{{popular_price_filter_values.0}},{{popular_price_filter_values.1}}]"
								 	{% endif %}
								 	id="sl2" name="slider"><br />
								 </form>
								 <b class="pull-left">Rs {{filter_values.0}}</b> <b class="pull-right">Rs {{filter_values.1}}</b>
							</div>
						</div><!--/price-range-->	
						{% endif %}

						{% if beautician_details or card_details %}
						{% else %}
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						{% endif %}

						{% if beautician_details or card_details %}
						{% else %}
						<div class="brands_products"><!--Discount-->
							<div class="brands-name">
								<h2>Discount</h2>
								<ul class="nav nav-pills nav-stacked">
									<li><a> <span class="pull-right"></span><input type="checkbox" value="">&nbsp;&nbsp;0% - 10%</input></a></li>
									<li><a> <span class="pull-right"></span><input type="checkbox" value="">&nbsp;&nbsp;10% - 20%</input></a></li>
									<li><a> <span class="pull-right"></span><input type="checkbox" value="">&nbsp;&nbsp;20% - 30%</input></a></li>
									<li><a> <span class="pull-right"></span><input type="checkbox" value="">&nbsp;&nbsp;30% - 40%</input></a></li>
									<li><a> <span class="pull-right"></span><input type="checkbox" value="">&nbsp;&nbsp;More than 40%</input></a></li>
								</ul>
							</div>
						</div><!--/Discount-->
						{% endif %}

						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
					</div>
<script type="text/javascript">
	$(document).ready(function() {
		/* Highlight the selected subcategory */
		$('#sub_category_{{type}}').addClass("current_subcategory");
		if (window.location.href.indexOf("?for=female") > -1)
		{
			$('input:radio[id="gender_female"]').attr('checked', 'checked');
		}
		else if (window.location.href.indexOf("?for=male") > -1)
		{
			$('input:radio[id="gender_male"]').attr('checked', 'checked');
		}
		else
		{
			$('input:radio[id="gender_all"]').attr('checked', 'checked');
		}
	});
	$('input:radio[name="gender_filter"]').change(function(){
    	var current_url = location.pathname;
        if ($(this).is(':checked') && $(this).val() == 'male') {
        	url2 = "?for=male";
        }
        if ($(this).is(':checked') && $(this).val() == 'female') {
         	url2 = "?for=female";   
        }
        if ($(this).is(':checked') && $(this).val() == 'all') {
            url2 = "";
        }
        window.location = current_url + url2;
    });

</script>