{% load staticfiles %}
{% for card_detail in card_details %}
<div class="col-sm-5">
<div class="view-product">
	<img src="{% static '' %}{{card_detail.ref_id|get_pic_path}}" alt="" />
	<h3>ZOOM</h3>
</div>
<div id="similar-product" class="carousel slide" data-ride="carousel">
	
	  <!-- Wrapper for slides -->
	    <div class="carousel-inner">
			<div class="item active">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			<div class="item">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			<div class="item">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			
		</div>

	  <!-- Controls -->
	  <a class="left item-control" href="#similar-product" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	  </a>
	  <a class="right item-control" href="#similar-product" data-slide="next">
		<i class="fa fa-angle-right"></i>
	  </a>
</div>

</div>
<form action="/add_to_cart/{{card_detail.ref_id}}" id="add_to_cart" method="POST"><!--Add to cart form BEGIN-->
{% csrf_token %}
<input type="hidden" name="product_type" value="cards" />
<input type="hidden" name="user_id" value="1">
<input type="hidden" name="price" value="{{card_detail.actual_price}}" />
<div class="product-information"><!--/product-information-->
<h2>{{card_detail.name}}</h2>
<p>{{card_detail.short_description}}</p>
<p>Product ID: {{card_detail.ref_id}}</p>
<img src="images/product-details/rating.png" alt="" />
<span>
	<span>{{card_detail.actual_price}} Rs Per Card</span>
	<label>Quantity:</label>
	<input type="text" name = "quantity" value="1" />
	<button type="submit" class="btn btn-fefault cart">
		<i class="fa fa-shopping-cart"></i>
		Add to cart
	</button>
</span>
<p><b>Availability:</b> In Stock</p>
<p><b>Condition:</b> New</p>
<p><b>Brand:</b> E-SHOPPER</p>
<a href=""><img src="{% static 'images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
</div><!--/product-information-->
</form> <!--Add to cart form END-->
{% endfor %}
<script type="text/javascript">
$(document).ready(function() {
    $('#add_to_cart').submit(function() { // catch the form's submit event
        $.ajax({
            url : this.action, 
            type : "POST",
            dataType: "json",
            data: $(this).serialize(), // get the form data
            context : this,
            success : function(json) {
              alert(json);
              var current_url = location.pathname;
              if (json == "successfully added in cart")
              {
              	window.location = current_url; // redirect back to the calling page
              }
              },
            error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);
              }
        });
        return false;
    });
    });
</script>	