{% load staticfiles %}
{% for card_detail in card_details %}
<div class="col-sm-5">
<div class="view-product">
	<img src="{% static '' %}images/cards/card{{card_detail.id}}.jpg" alt="" />
	<h3>ZOOM</h3>
</div>
<div id="similar-product" class="carousel slide" data-ride="carousel">
	
	  <!-- Wrapper for slides -->
	    <div class="carousel-inner">
			<div class="item active">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			<div class="item">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			<div class="item">
			  <a href=""><img src="{% static 'images/product-details/similar1.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar2.jpg' %}" alt=""></a>
			  <a href=""><img src="{% static 'images/product-details/similar3.jpg' %}" alt=""></a>
			</div>
			
		</div>

	  <!-- Controls -->
	  <a class="left item-control" href="#similar-product" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	  </a>
	  <a class="right item-control" href="#similar-product" data-slide="next">
		<i class="fa fa-angle-right"></i>
	  </a>
</div>

</div>
<div class="product-information"><!--/product-information-->
<h2>{{card_detail.name}}</h2>
<p>{{card_detail.short_description}}</p>
<p>Product ID: {{card_detail.ref_id}}</p>
<img src="images/product-details/rating.png" alt="" />
<span>
	<span>{{card_detail.price}} Rs Per Card</span>
	<label>Quantity:</label>
	<input type="text" value="3" />
	<button type="button" class="btn btn-fefault cart">
		<i class="fa fa-shopping-cart"></i>
		Add to cart
	</button>
</span>
<p><b>Availability:</b> In Stock</p>
<p><b>Condition:</b> New</p>
<p><b>Brand:</b> E-SHOPPER</p>
<a href=""><img src="{% static 'images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
</div><!--/product-information-->
{% endfor %}