{% load staticfiles %}
<div class="col-sm-3">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="images/home/gallery3.jpg" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-3">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="images/home/gallery4.jpg" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
			</div>
		</div>
	</div>
</div>