{% load staticfiles %}
<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1>Chose <span>Wedding Cards</span></h1>
									<h2>Get them deliver at your door step</h2>
									<p>Attractive yet decent hand picked wedding cards that fits right in your budget. Available for all religions. We understand your needs.</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/card1.jpg' %}" class="girl img-responsive" alt="" />
									<!--<img src="{% static 'images/home/pricing.png' %}" class="pricing" alt="" />-->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1>Chose <span>Beauticians</span></h1>
									<h2>For both <a href="#">HIM</a> and <a href="#">HER</a></h2>
									<p>Meet best of our stylists. Get that perfect Pre Bridal make up with a range of skin friendly herbal cosmetics by our hand picked beautician. All sorts of attractive packages available. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/beautician1.jpg' %}" class="girl img-responsive" alt="" />
									<!--<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />-->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1>Book <span>Venues</span></h1>
									<h2>Got a budget? Perfect!</h2>
									<p>Stop circling around the city for finding the perfect wedding venue. Check out popular venues of your city and stop wondering. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/venue1.jpg' %}" class="girl img-responsive" alt="" />
									<!--<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />-->
								</div>
							</div>
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	