{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'js/star-ratings.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
{% for venue_detail in venue_details %}
<head>
<meta property="og:url"           content="http://127.0.0.1:8000/venue_details/{{venue_detail.id}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Barati" />
<meta property="og:description"   content="Ab shadi easy hai" />
<meta property="og:image"         content="{% static '' %}{{venue_detail.ref_id|get_pic_path}}" />
<title>Barati | {{venue_detail.name}}</title>
</head>
<div class="col-sm-5" style="margin-top:-40px">
			<div id="similar-product" class="carousel slide" data-ride="carousel">
			<div class="bzoom_wrap ">
        <ul id="bzoom">
            <li>
                <img class="bzoom_thumb_image" src="{% static '' %}{{venue_detail.ref_id|get_pic_path}}" title="first img" />
                <img class="bzoom_big_image" src="{% static '' %}{{venue_detail.ref_id|get_pic_path}}"/>
            </li>
            <li>
                <img class="bzoom_thumb_image" src="{% static 'images/product-details/similar1.jpg' %}"/>
                <img class="bzoom_big_image" src="{% static 'images/product-details/similar1.jpg' %}"/>
            </li>
            <li>
                <img class="bzoom_thumb_image" src="{% static 'images/product-details/similar2.jpg' %}"/>
                <img class="bzoom_big_image" src="{% static 'images/product-details/similar2.jpg' %}"/>
            </li>
            <li>
                <img class="bzoom_thumb_image" src="{% static 'images/product-details/similar3.jpg' %}"/>
                <img class="bzoom_big_image" src="{% static 'images/product-details/similar3.jpg' %}"/>
            </li>
            <li>
                <img class="bzoom_thumb_image" src="{% static '' %}{{venue_detail.ref_id|get_pic_path}}"/>
                <img class="bzoom_big_image" src="{% static '' %}{{venue_detail.ref_id|get_pic_path}}"/>
            </li>
        </ul>
    </div>
</div>
<br>
<div style="margin-top:500px">
	
		
{% if venue_detail.ref_id in wishlist_list %}
	<span>
		<a href="/wishlist"><i class="fa fa-plus-square"></i>In Wishlist</a>
		<a href="#"><i class="fa fa-plus-square"></i>Add to FEEL Requests</a>
	</span>	
{% else %}
	<span>
		<form id="add_to_wishlist" class="add_to_wishlist" name="add_to_wishlist" method="post" action="/add_to_wishlist/">
			{% csrf_token %}
			<input type="hidden" name="ref_id" value="{{card_detail.ref_id}}" />
			<a href="#" onclick=""><i class="fa fa-plus-square"></i><button type="submit" style="border:none;background:transparent;" > Add to wishlist</button></a>
		</form>
		<a href="#"><i class="fa fa-plus-square"></i>Add to FEEL Requests</a>
	</span>
{% endif %}
</div>
</div>

<form action="/add_to_cart/{{venue_detail.ref_id}}" id="add_to_cart" method="POST"><!--Add to cart form BEGIN-->
{% csrf_token %}
<input type="hidden" name="product_type" value="venues" />
<input type="hidden" name="price" value="{{venue_detail.actual_price|add_tax:tax}}" />
<div class="product-information"><!--/product-information-->
<h2>{{venue_detail.name}}</h2>
<p>{{venue_detail.short_description}}</p>
<p>Product ID: {{venue_detail.ref_id}}</p>
{% load ratings %}
{% ratings venue_detail %}
<br>
<span>
	<span>Rs {{venue_detail.actual_price|add_tax:tax}}</span>
	
	{% if request.user.username %}
	<button type="submit" class="btn btn-default cart">
		<i class="fa fa-shopping-cart"></i>
		Add to cart
	</button>
	{% else %}
	<a style = "" href = "#login" >
	<button type="button" class="btn btn-default cart">
		<i class="fa fa-shopping-cart"></i>
		Add to cart
	</button>
	</a>
	<!--<button class="fancy-btn open" type="button">Can I haz Modal?</button>-->
	{% endif %}
</span>
<p><b>Shopkeeper:</b> XYZ</p>

<!-- FB Share-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1710233362554820";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- share button code -->
<div class="fb-share-button" data-href="http://127.0.0.1:8000/venue_details/{{venue_detail.id}}" data-layout="button_count"></div>
<!-- FB Share-->
</div><!--/product-information-->
</form> <!--Add to cart form END-->

<br><br><br><br>
<div class="category-tab shop-details-tab"><!--category-tab-->
	<div class="col-sm-12">
		<ul class="nav nav-tabs">
			<li><a href="#details" data-toggle="tab">Details</a></li>
			<li><a href="#companyprofile" data-toggle="tab"> Vendor Profile</a></li>
			{% if venue_detail.home_visit_charge != 'NA' and venue_detail.home_visit_charge %}
				<li><a href="#homevisitpolicy" data-toggle="tab">Home Visit Policy</a></li>
			{% endif %}
			<li class="active"><a href="#reviews" data-toggle="tab">Reviews {% if all_reviews %}({{all_reviews.count}}){% endif %}</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade" id="details" >
			<p>{{venue_detail.long_description}}</p>
			<p><b>Services :</b>{{venue_detail.services}}</p>
		</div>
		
		<div class="tab-pane fade" id="companyprofile" >
			<p>Profile</p>
		</div>
		
		<div class="tab-pane fade" id="homevisitpolicy" >
			<p>{{venue_detail.home_visit_policy}}</p>
		</div>
		<div class="tab-pane fade active in" id="reviews" >
			<div class="col-sm-12">
				{% if request.user.username %}
					{% if user_review %}
						{% if user_review.user.username == request.user.username %}
							<p><b>You Reviewed this item on {{user_review.timestamp}}</b></p>
							<br>
							<div style="background-color:#F0F0E9">
								<div class="row" >
									<div class="col-sm-2">
										<b>Review Title</b>
									</div>
									<div class="col-sm-8">
										{{user_review.title}}
									</div>
								</div><br>
								<div class="row" >
									<div class="col-sm-2">
										<b>Your Review</b>
									</div>
									<div class="col-sm-8">
										{{user_review.detailed_review}}
									</div>
								</div><br>
								<div class="row" >
									<div class="col-sm-2">
										<b>Recommended</b>
									</div>
									<div class="col-sm-8">
										{{user_review.recommended}}
									</div>
								</div>
							</div>
							<br>
							<a href="#" class="btn btn-default" style= "background-color:#FE980F;color:white;margin-left:200px" data-toggle="modal" data-target="#review-modal">Edit Review</a>
							
							<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#40403E">
        <button type="button" style ="margin-top:25px;margin-right:10px;background-color:#FE980F" class="close btn btn-warning" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" style= "color:white" id="myModalLabel">Update Your Review</h4>
      </div>
      <div class="modal-body">
        <form action="/update_review/" name="update_review" id="update_review" method="post">
          {% csrf_token %}
          <input type="hidden" name="update_reviewed_ref_id" value="{{venue_detail.ref_id}}" />
            <span>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 label-control">
                  <label for="title">Review Title : </label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="update_title_review" placeholder="Review title" value="{{user_review.title}}" />
                </div>
              </div>
            </span>
            <br>
            <div class="form-group">
              <div class="col-sm-1"></div>
              <div class="col-sm-3 label-control">
                <label for="title">Your Review: </label>
              </div>
              <div class="col-sm-8">
                <textarea name="update_detailed_review" placeholder="Your opinion about this product" >{{user_review.detailed_review}}</textarea>
              </div>
            </div>  
            <br>
            <div class="form-group">
              <div class="col-sm-1"></div>
              <div class="col-sm-3 label-control">
                <label for="title">Your Recommendation: </label>
              </div>
              <div class="col-sm-8">
                <select name="update_recommendation" class="recommendation_select_box">
                  <option value="">Will you recommend this product?</option>
                  <option {% if user_review.recommended == 'yes' %}selected{% endif %}>Yes</option>
                  <option {% if user_review.recommended == 'no' %}selected{% endif %}>No</option>
                  <option {% if user_review.recommended == 'maybe' %}selected{% endif %}>Maybe</option>
                </select>
                <br></br><br>
              </div>
            </div>
            <center><button type="submit" class="btn btn-default">Update</button></center>
          </form>
        </div>
      </div>
    </div>
  </div>

							<br><br>
						{% endif %}	
					{% else %}
						<p><b>Write Your Review</b></p>
						<form action="/submit_review/" name="submit_review" id="submit_review" method="post">
							{% csrf_token %}
							<input type="hidden" name="reviewed_ref_id" value="{{venue_detail.ref_id}}">
							<span>
								<input type="text" name="title_review" placeholder="Review title" required="true"/>
							</span>
							<textarea name="detailed_review" placeholder="Your opinion about this product"></textarea>
							<br>
							<select name="recommendation" class="recommendation_select_box">
								<option selected="true" value="">Will you recommend this service?</option>
								<option value="yes">Yes</option>
								<option value="no">No</option>
								<option value="maybe">Maybe</option>
							</select>
							<br><br>

							<button type="submit" class="btn btn-default">
								Submit
							</button>
							<br><br>
							{% load ratings %}
							{% ratings venue_detail %}
						</form>
						{% endif %}
				{% else %}	
					<p><b>Please login to review.</b></p>
					<br>
				{% endif %}
				<p><h4>Customer Reviews</h4></p>
				{% if all_reviews %}
				{% for review in all_reviews %}
					{% if review.user.username != request.user.username %}
						<div style="background-color:#F0F0E9">
							<ul style="background-color:#40403E;">
								<li><a href="#"><i class="fa fa-user"></i>{{review.user | get_user}}</a></li>
								<li><a href="#"><i class="fa fa-calendar-o"></i>{{review.timestamp}}</a></li>
							</ul>
							<p><b>{{review.title}}</b></p>
							<p>{{review.detailed_review}}</p>
						</div>
					{% endif %}
				{% endfor %}
				{% else %}
					<div style="background-color:#F0F0E9">
					<p><b>No customer reviews found.</b></p>
				</div
				{% endif %}
			</div>
		</div>
		
	</div>
</div><!--/category-tab-->


{% include 'customers/login_popup.html' %}
{% endfor %} <!--venue_detail object-->

<script type="text/javascript">
$(document).ready(function() {
    $('#add_to_cart').submit(function() { // catch the form's submit event
        $.ajax({
            url : this.action, 
            type : "POST",
            dataType: "json",
            data: $(this).serialize(), // get the form data
            context : this,
            success : function(json) {
              alert(json);
              var current_url = location.pathname;
              if (json == "success_add_to_cart")
              {
              	window.location = current_url; // redirect back to the calling page
              }
              },
            error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);
              }
        });
        return false;
    });

      $('#submit_review').submit(function() { // catch the form's submit event
        $.ajax({
            url : this.action, 
            type : "POST",
            dataType: "json",
            data: $(this).serialize(), // get the form data
            context : this,
            success : function(json) {
              alert(json);
              var current_url = location.pathname;
              if (json == "success_submit_review")
              {
              	window.location = current_url; // redirect back to the calling page
              }
              },
            error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);
              }
        });
        return false;
    });

    });
$('#update_review').submit(function() { // catch the form's submit event
        $.ajax({
            url : "this.action", 
            type : "POST",
            dataType: "json",
            data: $(this).serialize(), // get the form data
            context : this,
            success : function(json) {
              alert(json);
              console.log("hi");
              var current_url = location.pathname;
              if (json == "success_update_review")
              {
              	console.log("hi");
              	window.location = location.pathname;// redirect back to the calling page
              	console.log(location.pathname);
              }
              },
            error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);
              }
        });
        return false;
    });
});
</script>
<script type="text/javascript" src="{% static 'js/jqzoom.js' %}"></script>
<script type="text/javascript">
$("#bzoom").zoom({
	zoom_area_width: 350,
    autoplay_interval :3000,
    small_thumbs : 4,
    autoplay : false
});
</script>